<div class="text-center">
  Welcome to Manchester Makerspace <br>

  Number of Members: <%=User.all.count%> <br>
  Number of Workshops: <%=Workshop.all.count%> <br>

  <%= render '/layouts/auth' %>
</div>
