<div class="text-center">
  Welcome to Manchester Makerspace <br>

  Number of Members: <%=@users.count%> <br>
  Number of Workshops: <%=@workshops.count%> <br>

  <%= render '/layouts/auth' %>
</div>
