<div class="text-center">
  Welcome to Manchester Makerspace <br>

  <% if user_signed_in? && is_admin?%>
    Number of Members: <%=User.total_members%> <br>
    Number of Workshops: <%=Workshop.total_workshops%> <br>
  <% end %>

  <%= render '/layouts/auth' %>
</div>
